<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  <title> Talentoo </title>
</head>

<body>
  <div class="searchbox_div">
    <input class="searchbox" placeholder="Search" type="text" name="search_person">
  </div>

  <h2>List of People</h2>

  <div class="people_list">
    <ul>
      {%for person in people_list%}
        <li><a href="{{person.link}}"><p>{{person.name}}</p></a> </li>
      {%endfor%}
    </ul>
  </div>

  <a href="/">Back</a>

</body>
</html>
